<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="LimitersConfiguration" type="Fully.Qualified.TypeName.BlogSettings,AssemblyName" />
    <section name="LimitsConfiguration" type="Fully.Qualified.TypeName.BlogSettings,AssemblyName" />
  </configSections>
  <LimitersConfiguration>
    <Limiters>
      <!-- 5 requests per 600 seconds (10 minutes) is the A type of limit-->
      <Limiter Count="5" SecondsSpan="600" Titla="EU" />
      <!-- 1 request per 60 seconds (1 minute) is exactly 1 minute delay between requests, the B type of limit -->
      <Limiter Count="1" SecondsSpan="60" Title="US" />
    </Limiters>
    <Limits>
      <Limit Token="ABC">
        <string>US</string>
        <string>EU</string>
      </Limit>
      <Limit Token="ABC">
        <string>US</string>
        <string>EU</string>
      </Limit>
    </Limits>
  </LimitersConfiguration>
</configuration>